

.nav-wrapper {
    background-color: #5c5c5c;
}
.hidden {
    display: none;
}
main {
    margin-top: 1vh;
}
    .row {
        margin-bottom: 0;
    }

    /* card */
    .card-container {
        padding-bottom: 0;
    }
    .card {
        cursor: pointer;
    }

    .tab {
        background-color: #efefef;
    }
